<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Main Container -->
    <div id="container">
      <!-- First Div Starts here -->
      <div id="image-to-check-div">
        <!-- This is the heading Div -->
        <div class="heading-div">
          <h1>Image to check</h1>
        </div>
        <!-- This is the image container div -->
        <div class="image-container">
          <img src="<%= faces.second %>" alt="first-person" />
        </div>
      </div>

      <!-- Second Div Starts here -->
      <div id="reference-div">
        <!-- This is the heading Div -->
        <div class="heading-div">
          <h1><%=faces.name %></h1>
        </div>
        <!-- This is the image container div -->
        <div class="image-container">
          <img src="<%= faces.first%>" alt="Second-Person" />
        </div>
      </div>
    </div>
  </body>
</html>
