body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
h4{
  text-align: center;
}
#input-div{
  display: flex;
  gap: 100px;
}
#button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container{
  max-height: 400px;
  max-width: 200px;
}
.hidden{
  display: none;
}