body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
h4 {
  text-align: center;
}
#input-div {
  display: flex;
  gap: 100px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {
  max-height: 600px;
  max-width: 300px;
}
.hidden {
  display: none;
}
